{% extends 'base.html' %}
{% load static %}

{%block content %}
<div class="hero-container">

    <div class="hero">
        <img id="bg1" src="{% static 'images/bg1.png' %}" alt="">
        <div class="hero-text">
            <h1 id="Welcome">Lekisa bor nayo cho!</h1>
            <p>Nous vous aidons à vendre/acheter vos produits électroniques (telephones, télévisions, ordinateurs,etc) en toute securité, du bout de vos doigts.</p>
            <ul id="core-value">
                <li>Fiabilité</li>
                <li>Rapidité</li>
                <li>Qualité</li>
            </ul>
        </div>
        <div class="hero-ilu">
            <img class="App App1" src="{% static 'images/AppProdList.png' %}" alt="">
            <img class="App App2" src="{% static 'images/AppProdList2.png' %}" alt="">
            <img class="App App3" src="{% static 'images/AppProdList3.png' %}" alt="">
        </div>
    </div>
</div>

<!--<div class="products">
    <div class="shopped-container">
        <img class="shopped" src="{% static 'images/shopped.png' %}" alt="">
    </div>
    <div class="product-text">
        <h4>Shop from many different places</h4>
    </div>
</div>
-->

<div class="register">
    <div id="circle"></div>

    <div class="form-text">
        <h1>L'application arrive!</h1> 

        <img id="appRelease" src="{% static 'images/AppRelease.png' %}" alt="">


        <h3>Engegistrez-vous pour:</h3>
        <ul>
            <li>Obtenir la version beta de l'application</li>
            <li>Restez informé des mise à jour</li>            
            <li>Plusieurs autre benefices exclusif</li>
        </ul>
    </div>
    <form class="form" action="" method="POST">
        {% csrf_token %}
        <label for="id_nom">
            <input type="text" name="nom" id="id_nom" class="fff" placeholder="Nom">
        </label>
        <label for="id_phone">
        <input type="text" name="phone" id="id_phone" class="fff" placeholder="Phone">
        </label>
        <input type="submit" id="submit" class="ffa" value="S'enregistrer">
    </form>

    <!--<a href="{% url 'ProductRegistration' %}"> Register here and become a seller</a>-->
</div>

{% include 'footer.html'%}
{% endblock content %}

