@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Monoton&display=swap');

@import "{% url 'css/wepo-navbar.css' %}";

#footer{
    margin-top: 100px;
    bottom: relative;
    bottom:0px;
    display:flex;
    color: black;
    background: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Inter', sans-serif; 
    font-size: 10px;
    width: 100%;
    height:auto;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.footer-text{
    
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    grid-row-gap: 1%;
}

.footer-text a{
    text-decoration: none;
    color: black;
    transition: 0.1s;
    padding-bottom: 1%;
}

.footer-text a:hover{
    
    color:black;
    transition: 0.2s;
    cursor: pointer;
}

#footer p{
    margin-top: 5px;
    font-size: 07px;
    text-align: center;
}

@media (max-width: 1050px){
    #footer{
        transition: 1s;
    }
    
}
@media (max-width:500px){
    #footer{
        transition: 0.5s;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    #footer a{
        font-size: 7px;
    }
    #footer p{
        font-size: 5px;
    }

}
